ion-toolbar {
    --opacity: .2
}

ion-content {
    --background: linear-gradient(#900000, #FF8D0F);
    justify-content: center;
}
h5{
    color:rgb(250, 252, 252);
}

p{
    color:rgb(255, 253, 253);
    margin-left: 15px;
}

h1{
    color:rgb(250, 252, 252);
}

ion-button{
    margin-left: 250px;
}

.a1{
    margin-top: 50px;
}

.custom-shape-divider-bottom-1680466127 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1680466127 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1680466127 .shape-fill {
    fill: #FFFFFF;
}