ion-content {
    --background: linear-gradient(#900000, #FF8D0F);
    }
    
    ion-header{
        --background: linear-gradient(#900000, #FF8D0F);
    }

    
.a1{    
    outline-color: #900000;
    
}

h6{
    margin-left: 20px;
}
div{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 1px;
}

ion-button{
    outline-color: #900000;
    margin-top: 100px;
}