<ion-header>
  <ion-toolbar class="toolbar1">
    <ion-buttons slot="start">
      <ion-back-button title="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Kare-Kare</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card >
    <img src="https://www.seriouseats.com/thmb/y7LT27c_pN8KkGYFKOV_xb3-cFU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Beauty_-3315bbf2ab0443b5b75ab906c4ebb5d4.jpg">
  </ion-card>
  
  <h5>INGREDIENTS:</h5>

  <p>• 2 tablespoons (20g) white rice flour</p>
  <p>• 6 tablespoons (90ml) canola oil, divided</p>
  <p>• 2 1/4 pounds (1kg) oxtails, fat trimmed (see note)</p>
  <p>• 14 medium garlic cloves (60g), minced, divided </p>
  <p>• 1/2 medium red onion (about 4 ounces; 115g), finely diced, divided </p>
  <p>• 1 scallion, ends trimmed and sliced thinly on a bias for garnish, trimmings reserved</p>
  <p>• 4 small bok choy (about 1/4 pound; 115g), halved lengthwise</p>
  <p>• 1 medium Chinese eggplant (about 1/2 pound; 225g), ends trimmed and cut into 3-inch-long by 1-inch-thick batons </p>
  <p>• 4 ounces (115g) Chinese long beans or string beans, stem ends trimmed and beans cut into 3-inch lengths </p>
  <p>• 2 tablespoons (30ml) fish sauce</p>
  <p>• 8 1/2 ounces (about 1 cup; 240g) natural creamy peanut butter (see note)</p>
  <p>• 2 ounces ginisang bagoong (1/4 cup; 60g), plus more for serving (see note)</p>
  <p>• 2 1/2 ounces roasted, unsalted peanuts (about 1/2 cup; 70g), crushed, for garnish</p>
  <p>• 2 tablespoons (15g) homemade or store-bought fried garlic, for garnish</p>
  <p>• Cooked white rice, for serving</p>

  <h5 class="a1">DIRECTIONS:</h5>
  
  <p>1. Adjust oven rack to top position and preheat to 350°F (175°C). Spread rice flour on a rimmed baking sheet. Bake, shaking pan occasionally, until lightly browned, about 15 minutes. Transfer toasted rice flour to a small bowl; set aside.</p>
  <p>2. In a large Dutch oven, heat 2 tablespoons (30ml) oil over medium-high heat until shimmering. Using tongs, add oxtails and cook, turning occasionally, until well browned on all sides, about 15 minutes. Transfer oxtails to plate; set aside.</p>
  <p>3. Add half of the garlic (30g), half of the onion (58g), and scallion trimmings to Dutch oven. Cook, stirring occasionally, on medium-high heat until garlic is golden brown and onions are translucent, about 3 minutes.</p>
  <p>4. Return oxtails to Dutch oven along with 4 quarts (3.8L) water. Bring to boil, cover partially with lid, and cook for 1 1/2 hours, skimming any fat and scum that accumulates on the surface. Lower heat to maintain a simmer, cover, and continue to cook until oxtails are tender, about 3 hours.  </p>
  <p>5. Add bok choy and cook until bottoms are translucent, about 2 minutes. </p>
  <p>6. Using tongs, remove bok choy and oxtails and transfer to a large heatproof bowl; set aside. Using an immersion blender, purée the braising liquid in the Dutch oven (if you don’t have an immersion blender, you can transfer liquid to a blender). Strain liquid through a fine-mesh strainer set over a large heatproof bowl; reserve strained liquid (you should have about 3 cups; 710ml).</p>
  <p>7. Meanwhile, adjust oven rack to lower-middle position and increase oven temperature to 375°F (190°C). In a large mixing bowl, toss eggplant and beans with 3 tablespoons (45ml) oil and fish sauce. Spread eggplant and beans on rimmed baking sheet and roast until tender, about 15 minutes. Set aside.</p>
  <p>8. In a 4-quart saucepan, heat remaining 1 tablespoon (15ml) oil over medium-high heat until shimmering. Add remaining garlic and onion. Cook, stirring occasionally, until garlic is golden brown and onions are translucent, about 3 minutes.  </p>
  <p>9. Stir in 1 cup (235ml) reserved braising liquid, peanut butter, toasted rice flour, annatto powder, and ginisang bagoong. If you want your sauce to be less viscous, stir in reserved braising liquid in 1/4 cup (60ml) increments to reach desired consistency (save remaining braising liquid for another use). (If you prefer a smooth sauce, use an immersion blender to smooth it out; if you don’t have an immersion blender, you can transfer sauce to a blender). </p>
  <p>10. Arrange oxtails, bok choy, eggplant, and beans in serving bowls. Spoon sauce on top, then garnish with scallions, peanuts, and fried garlic. Serve with rice and additional ginisang bagoong alongside.</p>

  <h6>Note:</h6>
  <p>If you want to substitute tripe for oxtails, I recommend using book tripe, not honeycomb tripe; book tripe has a softer yet chewy texture that I prefer. Most tripe is bleached, so before you cook it, rinse it under cold running water.  Once clean, boil the tripe in salted water for 10 minutes. Using tongs, remove the tripe from the water (discard the water) and rinse the tripe under cold running water. In Step 4, add tripe to the Dutch oven and simmer until tripe is tender with a slight chewy bite, between 1 to 2 hours. Proceed with the recipe as directed. 

    Avoid using commercial-style peanut butter, which has added sugar, because it will add a noticeable sweetness that doesn't fit the flavor profile of the dish. 
    
    Ginisang bagoong is fermented shrimp paste that has been sautéed with onion, garlic, vinegar, and sugar. It can be found in Filipino or Asian specialty markets and online.
    
    If you have a pressure cooker or electric multicooker (such as an Instant Pot), you can sear the oxtails and then sauté the garlic, onions, and scallions trimmings in it instead of a Dutch oven; then return oxtails to the cooker and fill with water to the max-fill line. Cook at high pressure for 1 hour and 15 mins.  Proceed with the recipe as directed. This process saves you time, but you’re sacrificing the amount of broth you can keep for future use.</p>

  <ion-button shape="round" class="button1" fill="outline"  size="default" color="light" (click)="omelette()">NEXT</ion-button>
</ion-content>