<ion-header>
  <ion-toolbar class="toolbar1">
    <ion-buttons slot="start">
      <ion-back-button title="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Spaghetti With Canned-Clam Sauce</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card >
    <img src="https://www.seriouseats.com/thmb/PhVZXIhmqKJi2TeiRYj9-4XvDZY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__2020__03__20200330-canned-clams-pasta-sho-spaeth-1-5791318645d944f1974741d03006df2c.jpg">
  </ion-card>
  
  <h5>INGREDIENTS:</h5>

  <p>• 4 tablespoons (60g) unsalted butter, cut into 4 pieces and divided</p>
  <p>• 2 celery ribs (5 oz; 140g), peeled (optional) and cut into small dice</p>
  <p>• 2 medium shallots (60g), minced</p>
  <p>• 1/2 cup (30g) finely chopped fresh parsley leaves, divided</p>
  <p>• 4 medium garlic cloves (15g), finely minced</p>
  <p>• 1 fresh green Thai chile (4g), thinly sliced (optional, see note)</p>
  <p>• Freshly ground black pepper</p>
  <p>• Two (8-ounce; 237ml) bottles clam juice</p>
  <p>• Two (6.5-ounce; 184g) cans chopped or minced clams, clams and liquid divided</p>
  <p>• 1 lb (450g) spaghetti</p>
  <p>• 1 teaspoon (5ml) soy sauce </p>
  <p>• Kosher salt</p>
  <p>• Celery leaves (pale yellow-green leaves from the celery heart), for garnish</p>
  <p>• Lemon wedges, for serving</p>


  <h5 class="a1">DIRECTIONS:</h5>
  
  <p>1. In a 12-inch stainless steel skillet, melt 2 tablespoons of butter over medium heat, and swirl pan until foaming subsides. Add celery, shallots, half the parsley (1/4 cup; 15g), garlic, Thai chile (if using), and a couple healthy grinds of black pepper to pan and cook, stirring occasionally, until vegetables are soft and mixture is fragrant, 1 to 2 minutes. Add bottled clam juice along with liquid from canned clams but not the clam meat. Increase heat to high and bring mixture to a boil, then reduce heat to a simmer until liquid is slightly reduced and vegetables have infused broth, about 5 minutes—there should be enough liquid in the pan to fully submerge the pound of cooked pasta. Turn off heat and add clam meat and soy sauce.</p>
  <p>2. In a pot of salted, boiling water, cook spaghetti, stirring frequently, until about 4 minutes shy of the way you like your pasta cooked (some would say "al dente"). When spaghetti is almost at that point of doneness, bring pan of clam sauce to a boil over high heat.</p>
  <p>3. Using tongs, transfer spaghetti to pan with clam sauce, distributing pasta so it is mostly submerged in sauce. Cook, tossing and stirring occasionally, until pasta is cooked to your liking and sauce has thickened slightly, about 4 minutes. Taste for seasoning, and add salt if necessary.</p>
  <p>4. Turn off heat, add remaining butter and parsley, and toss and stir spaghetti vigorously to incorporate parsley and emulsify butter into sauce. Divide pasta among four serving plates, spooning sauce and clams evenly over each portion. Garnish with celery leaves, and serve immediately, passing lemon wedges, for squeezing, at the table.</p>

  <h6>Note:</h6>
  <p>Thai chile is used just to bring a little life heat to the dish, but it can be omitted or replaced with a pinch of red chile flakes or dried peperoncino.</p>
  <ion-button shape="round" class="button1" fill="outline"  size="default" color="light">NEXT</ion-button>
</ion-content>