ion-toolbar {
    --opacity: .2
}

ion-content {
    --background: linear-gradient(#900000, #FF8D0F);
    justify-content: center;
}
h5{
    color:rgb(250, 252, 252);
}

p{
    color:rgb(255, 253, 253);
    margin-left: 15px;
}

h1{
    color:rgb(250, 252, 252);
}

ion-button{
    margin-left: 250px;
}

.a1{
    margin-top: 50px;
}

h6{
    color:rgb(250, 252, 252);
}
h6{
    color:rgb(250, 252, 252);
}