<ion-header>
   <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button title="" color="light"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex-center"> 

   <div class="custom-shape-divider-top-1680468362">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
    </div>
      <img alt="bg" src="assets/bg2.png" class="bg" color="warning"/>
      <img alt="LoginLogo" src="assets/logo2.png" class="loginlogo"/>
    <ion-card >
      <div class="custom-shape-divider-bottom-1680472329">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
      <!--<img alt="LoginLogo" src="assets/signup.png"  class="loginlogo"/>-->

    <ion-card-content>
      <ion-text color="dark" >Sign up</ion-text>
      <ion-item>
        <ion-label position="floating" >Name</ion-label>
        <ion-input type="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-button shape="round" size="full" class="button1" (click)="register()"> Sign up</ion-button>
      </ion-card-content>
    </ion-card> 
  </div>
  
</ion-content>