.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
img{
    position: warp;
    margin-top: 50px;
}

ion-button[color="dark"]{
    text-transform: initial;


}

ion-content {
    --background:  #ffecbc;
}

.loginlogo{
    width: 150px;
    margin-left: 22%;
    margin-top: 10%;
   
}

img{
    margin-top: -50px;
}


.button1{
        --background: #ff8e04;
        --background-hover: #19f084;
        --background-activated: #8c8c01;
        --background-focused: #88f4be;
      
        --color: rgb(249, 248, 248);
      
        --border-radius: 50px;
        --border-color: #f3e8e8;
        --border-style: solid;
        --border-width: 2px;
      
        --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
      
        --ripple-color: deeppink;
      
        --padding-top: 10px;
        --padding-bottom: 10px;
}

.button2{
    --background: #ff8e04;
    --background-hover: #19f084;
    --background-activated: #8c8c01;
    --background-focused: #88f4be;
  
    --color: rgb(249, 248, 248);
  
    --border-radius: 50px;
    --border-color: #f3e8e8;
    --border-style: solid;
    --border-width: 2px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
}

ion-toolbar{
    --opacity: .2
}

ion-header{
    --opacity: .2
}

ion-card{
    border-radius : 25px;
    //--background: # ;
    width: 500px;
   height: 450px;
}
ion-input{
  margin-top: -25px;
}

.bg{
position: absolute;
  top: 100%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

ion-text{
    font-size: 35px;
    font-style: 40px;
}

.h1{
    font-size: 11px;
    margin-left: 180px;
}

.h2{
--background: #ff8e04;
--background-activated: #f9b25a;
--background-hover: #f9b25a;
width: 200px;
height: 36px;
margin-top: 20px;
margin-left: 50px;
}

.h3{
width: 200px;
height: 36px;
margin-top: 10px;
margin-left: 50px;
}

.custom-shape-divider-bottom-1680466127 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1680466127 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 300px;
}

.custom-shape-divider-bottom-1680466127 .shape-fill {
    fill: #FFFFFF;
}